body {
    position: relative;
}

#add-book-btn {
    font-size: 1.5rem;
    padding: 1rem;
    display: block;
    margin: 1rem auto;
}

#form-dialog form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 1.2rem;
    min-width: 300px;
}

#close-form-btn {
    align-self: end;
}

#form-dialog button {
    font-size: 1rem;
}

#library-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
    grid-auto-rows: 1fr;
    gap: 40px;
    padding: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}



.card {
    outline: solid black 2px;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}



.card button {
    font-size: 1.2rem;
    padding: .25em;
}

.read {
    background-color: lightgreen;
}

.not-read {
    background-color: lightpink;
}
